<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_edit_action">
        <observer name="sm_brand_loadproductbrand" instance="SM\SU\Observer\LoadProductBrand" />
    </event>
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="sm_brand_saveproductbrand" instance="SM\SU\Observer\SaveProductBrand" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="sm_brand_saveproductbrand" instance="SM\SU\Observer\SaveProductBrandModel" />
    </event>
    <event name="catalog_product_attribute_update_after">
        <observer name="sm_brand_saveattributeproductbrand" instance="SM\SU\Observer\MassUpdateAttributeBrandModel" />
    </event>
</config>
