<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sumup>
            <general_settings>
                <enable>1</enable>
                <route>shop-by-brand.html</route>
                <url_prefix>brands</url_prefix>
                <url_suffix>.html</url_suffix>
                <enable_menu>1</enable_menu>
                <enable_search>1</enable_search>
            </general_settings>
        </sumup>
    </default>
</config>
